#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-0 .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-3 .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#content5-4 .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-4 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-4 .mbr-article {
  color: #fff;
}
#content5-4 .mbr-article P {
  text-align: left;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-6 .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-e .mbr-article {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-8 .mbr-navbar__section {
  background: #59605a;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-c .mbr-header__text {
  color: #ffffff;
  font-size: 30px;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-article P {
  text-align: left;
}
